title AUTH
meta( charset='utf-8' )
meta( http-equiv='X-UA-Compatible', content='IE=edge' )
meta( name='viewport', content='width=device-width, initial-scale=1.0' )
meta( name='description', content='auth' )

link( href="stylesheets/v3.3.5/paper/bootstrap.min.css", rel="stylesheet" )
link( href="stylesheets/style.css", rel="stylesheet")
link( href="stylesheets/font-awesome.min.css", rel="stylesheet" )
link( href="stylesheets/less/katyayani/login.min.css", rel="stylesheet")

script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='https://www.google.com/recaptcha/api.js')
script( src='javascripts/ext/bootstrap.3.3.5.min.js' )
